@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: relative;
  min-height: 100vh;

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 66, 0.5);
    padding: 1rem 15rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .navbar-brand img {
        width: 15rem;
      }

      .navbar-nav a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
      }

      .navbar-nav a:nth-child(-n + 2) {
        margin: 0 2rem 0 0;
      }

      .navbar-nav a:hover {
        color: #0f8b8d;
        font-weight: 500;
      }
    }

    .jumbotron {
      padding: 8rem 0;
      text-align: center;
      h1 {
        font-size: 5rem;
        color: #fff;
      }
      p {
        font-size: 1.5rem;
        color: #fff;
      }
    }
  }

  background: {
    image: url("../images/Coffe Header.png");
    size: cover;
  }
}
